.rules {
  padding-top: 50px;
  padding-bottom: 50px;

  &__container {
    display: grid;

    @include bp(768) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 50px;
    }

    @include bp(1024) {
      grid-column-gap: 100px;
    }
  }

  &__heading {
    grid-column: 1 / -1;
    margin-bottom: $margin * 2.5;

    @include bp(1024) {
      margin-bottom: 50px;
    }
  }

  &__wrapper {

    @include bp-max(768) {
      @include mg-bottom(50px);
    }
  }

  &__inner {
    border-bottom: 1px solid currentColor;
    padding-bottom: 2.5px;
    @include mg-bottom($margin * 2);
  }

  &__list {
    list-style-type: none;
  }
}
