.assessment {
  padding-top: 50px;
  padding-bottom: 50px;

  &__container {
    display: grid;
    grid-gap: 30px;

    @include bp(768) {
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 80px;
      grid-column-gap: 50px;
    }

    @include bp(1024) {
      grid-column-gap: 80px;
    }
  }

  &__heading {

    @include bp(768) {
      grid-row: 1;
      grid-column: 1 / 3;
    }
  }

  &__wrapper {

    @include bp(768) {
      grid-row: 2;
    }

    &--callout {

      @include bp-max (768) {
        margin-top: -15px;
        margin-bottom: 10px;
      }

      @include bp(768) {
        grid-row: 1;
        grid-column: 2 / -1;
        justify-self: end;
        align-self: end;
      }
    }
  }

  &__title {
    max-width: unset;
    padding-bottom: 2.5px;

    border-bottom: 1px solid currentColor;
  }
}
