.prize {
  padding-top: 50px;
  padding-bottom: 50px;

  overflow: hidden;

  @include bp(768) {
    display: grid;
    grid-template-columns: 7fr 1fr 6fr;
  }

  @include bp(1024) {
    max-height: 1000px;
  }

  &__container {
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    @include bp-max(768) {
      padding-right: unset;
    }

    @include bp(768) {
      display: grid;
      grid-template-columns: 7fr 1fr 6fr;
      // grid-column-gap: 40px;
    }
  }

  &__wrapper {

    &--img {
      grid-column: 1 / 2;
      grid-row: 1;
    }
  }

  &__img-wrapper {
    @include img(320, 443);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      @include bgi('/prize/img/prize_720.jpg', '/prize/img/prize_1080.jpg');
      background-size: cover;
      background-position: center;
    }

    @include bp(768) {
      @include img(480, 720);

      &::after {
        @include bgi('/prize/img/prize_1440.jpg', '/prize/img/prize_2560.jpg');
      }
    }
  }

  &__inner {
    position: relative;
    z-index: $z-above;

    grid-column: 3 / -1;
    grid-row: 1;
    padding-top: $margin * 5;

    background-color: #ffffff;

    @include bp-max(768) {
      margin-top: -100px;
      margin-left: 6%;
      padding: $margin * 2.5;
    }
  }

  &__heading {

    @include bp-max (768) {
      @include mg-bottom(20px);
    }

    @include bp(768) {
      padding: 50px;
      margin-left: -150px;

      background-color: #ffffff;
    }
  }

  &__wrapper:not(.prize__wrapper--img) {
    @include mg-bottom(40px);
  }

  &__title {
    max-width: unset;
    // padding-bottom: 5px;
    @include mg-bottom($margin / 3);

    font-family: $font-family--headings;
    font-size: $font-size-h3;
    color: $a-black;

    border-bottom: 1px solid currentColor;

    @include bp(768) {
      font-size: $font-size-h3--tablet;
    }

    @include bp(1024) {
      font-size: $font-size-h3--desktop;
    }
  }

  &__text {
    font-size: 14px;

    @include bp(1024) {
      font-size: 18px;
    }
  }
}
