.motivation {
  padding-top: 50px;
  padding-bottom: 50px;

  .icon {

    &--youtube {
      margin-right: 10px;
    }
  }

  &__container {
    // min-height: 80vh;
    display: grid;
    grid-template-columns: 5% 1fr 10% 1fr 5%;
    // grid-template-rows: [start] 40vh [mid] 10vh [bot] auto;
  }

  &__heading {
    grid-column: 1 / -1;
    margin-bottom: $margin * 2.5;
  }

  &__wrapper {
    grid-column: 2 / -2;

    &--text,
    &--list {
      max-width: 460px;
      width: 100%;
      padding: 6%;
      @include mg(auto);
    }

    &--text {
      z-index: $z-one;
      margin-top: -50px;

      background-color: #ffffff;

      @include bp(1024) {
        grid-column: 4;
        margin-top: -100px;
      }
    }

    &--list {

      @include bp(1024) {
        grid-column: 2;
        grid-row: 4;
      }
    }

    &--img {

      @include bp(1024) {
        grid-column: 1 / -1;
        grid-row: 2 / 4;
        width: 100%;
        height: 410px;

        overflow: hidden;
      }
    }
  }

  &__img-wrapper {
    @include img(320, 240);

    @include bp-max(1024) {

      &::after { // ouside of the box
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        left: 50%;

        width: 100vw;
        height: 100%;
        margin-left: -50vw;
        margin-right: -50vw;

        @include bgi('/motivation/img/motivation_1080.jpg', '/motivation/img/motivation_1440.jpg');
        background-size: cover;
        background-position: 50% 0;
      }
    }

    @include bp(1024) {
      @include img(940, 410);

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        @include bgi('/motivation/img/motivation_1920.jpg', '/motivation/img/motivation_2560.jpg');
        background-size: cover;
        background-position: center;
      }
    }
  }

  &__list {
    list-style-type: none;
  }

  &__link {

    &--icon {
      display: inline-flex;
      margin-top: $margin;

      color: inherit !important;

      border-bottom: none;
    }
  }
}
