.price {
  padding-top: 50px;
  padding-bottom: 50px;

  &__container {
    display: grid;
    grid-gap: 25px;

    @include bp(768) {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 50px;
      grid-column-gap: 100px;
    }
  }

  &__heading {
    grid-row: 1;
    grid-column: 1 / -1;
  }

  &__wrapper {
    display: grid;
    grid-template-rows: auto 1fr 1fr;

    @include bp-max(768) {
      @include mg-bottom(15px); // +15 to grid-gap
    }
  }

  &__title {
    max-width: unset;
    // padding-bottom: 5px;
    @include mg-bottom(unset);

    font-family: $font-family--headings;
    font-size: $font-size-h3;
    color: $a-black;

    border-bottom: 1px solid currentColor;

    @include bp(768) {
      font-size: $font-size-h3--tablet;
    }

    @include bp(1024) {
      font-size: $font-size-h3--desktop;
    }
  }

  &__text {
    font-size: 14px;
    max-width: 25em;

    span {
      position: relative;

      display: block;

      &::before {
        content: '+';
        position: absolute;
        top: 0;
        left: 0;

        margin-left: -1em;
      }
    }

    @include bp(1024) {
      font-size: 18px;
    }

    &--description {
      color: $a-black;
    }
  }
}
