.brow-pro-hero {
  min-height: 80vmax;
  display: grid;
  grid-template-columns: [start] 10fr [mid] 1fr [end] 15fr;
  grid-template-rows: [start] 40vh [mid] 10vh [bot] auto;

  @include bp(1024) {
    min-height: 100vh;
    grid-template-rows: [start] 30vh [mid] 10vh [bot] auto;
  }

  .heading {
    max-width: 500px;
    width: 100%;
    padding: 6%;
    margin-bottom: 40px;

    background-color: #fff;

    @include bp(1024) {
      max-width: 410px;
      padding: 40px 25px 40px 0;
      margin: unset;
    }

    &__title {

      @include bp(1024) {
        margin-bottom: $margin / 2;
      }
    }

    &__text {

      &--title {
        letter-spacing: $letter-spacing;
        text-transform: uppercase;
      }
    }

    &__wrapper {

      &--icon {
        margin-top: 50px;

        @include bp(1024) {
          display: none;
        }

        .icon {

          &--brow-pro {
            fill: $text-color;
          }
        }
      }
    }
  }

  &__wrapper {

    &--img {
      grid-column: 1 / -1;
      grid-row: start / bot;

      @include bgi('/hero/img/hero__brow-pro_1080.jpg', '/hero/img/hero__brow-pro_1440.jpg');
      background-size: cover;
      background-position: 50% 0;

      @include bp(1024) {
        grid-column: mid / -1;
        grid-row: start / -1;

        @include bgi('/hero/img/hero__brow-pro_1920.jpg', '/hero/img/hero__brow-pro_2560.jpg');
      }
    }

    &--heading {
      grid-column: 1 / -1;
      grid-row: mid;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      @include bp(1024) {
        grid-column: 1 / -1;
        grid-row: mid / bot;
        // justify-self: end;
        justify-content: unset;
        align-items: unset;
      }
    }

    &--icon {
      grid-column: end;
      grid-row: bot;
      align-self: end;
      justify-self: end;
      padding: 6%;

      @include bp-max(1024) {
        display: none;
      }

      .icon {

        &--brow-pro {
          fill: #f3f3f3;
        }
      }
    }
  }
}
