.registration {
  padding-top: 50px;
  padding-bottom: 50px;

  .heading {
    z-index: $z-above;

    // min-width: 300px;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    padding: 20px 20px 40px;
    margin-bottom: 10%;

    background-color: #ffffff;

    @include bp(768) {
      // grid-row: 1 / -1;
      grid-column: 2 / -1;
      align-self: center;
      padding: 50px 50px 80px;
    }

    // @include bp(1024) {
    // }

    &__wrapper {
      @include mg-bottom(20px);
    }

    &__title {
      @include mg-bottom(15px);

      @include bp(1024) {
        @include mg-bottom(20px);
      }
    }

    &__link {
      font-size: 24px;
      font-weight: 700;

      @include bp(1024) {
        font-size: 36px;
      }
    }
  }

  &__container {
    display: grid;

    @include bp(768) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__wrapper {

    &--img {
      grid-row: 1 / -1;
      grid-column: 1 / -1;
    }
  }

  &__img-wrapper {
    @include img(320, 471);

      &::after { // ouside of the box
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        left: 50%;

        width: 100vw;
        height: 100%;
        margin-left: -50vw;
        margin-right: -50vw;

        @include bgi('/registration/img/registration__brow-pro_1080.jpg', '/registration/img/registration__brow-pro_1440.jpg');
        background-size: cover;
        background-position: 50% 0;
      }

    @include bp(768) {
      @include img(1024, 553);

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: unset;

        width: 100%;
        height: 100%;
        margin-left: unset;
        margin-right: unset;

        @include bgi('/registration/img/registration__brow-pro_1280.jpg', '/registration/img/registration__brow-pro_1920.jpg');
        background-size: cover;
        background-position: center;

        @include bp(1024) {
          @include bgi('/registration/img/registration__brow-pro_1920.jpg', '/registration/img/registration__brow-pro_2560.jpg');
        }
      }
    }
  }
}
