extends ../layouts/layout

block meta
  - var title = 'Brow Pro Molfar ‘20 — Molfar Beauty Forum'
  - var description = 'Чемпионат по моделированию и окрашиванию бровей в рамках международного форума Molfar'
  - var ogImage = 'img/og-image.jpg'
  - var pageModifier = '--index'
  - var currentUrl = '/'

block content
  +b.SECTION.brow-pro-hero
    +e.wrapper--img

    //- +e.container.container
    +e.wrapper--heading.container
      +b.HEADER.heading.__heading
        +e.H1.title
          +e.SPAN.text--title Brow Pro
          br
          +e.SPAN.text Molfar ‘20

        +e.P.text чемпионат по моделированию и окрашиванию бровей в рамках международного форума Molfar

        +e.wrapper--icon
          +icon('brow-pro', '98', '40')

    +e.wrapper--icon
        +icon('brow-pro', '196', '80')

  +b.SECTION.motivation
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H2.title Главный чемпионат среди бровистов
      +e.wrapper--img
        +e.img-wrapper.lazyload
      +e.wrapper--text
        +e.H3.title Заявите о себе
        +e.P.text Brow Pro Molfar даёт возможность не только получить хороший денежный приз, а также проявить себя как специалиста и познакомиться с коллегами
        +e.P.text Чемпиону Brow Pro Molfar будут оплачены #[+e.B.feat.feat участие в Bro Pro 2021] c дорогой и проживанием
        +e.A.link--icon(href='https://youtu.be/MGcJ378Mb1g', target='_blank', rel='noopener')
          +icon('youtube', '28', '20')
          | Bro Pro 2018
      +e.wrapper--list
        +e.H3.title Что необходимо для участия
        +e.UL.list
          +e.P.text Зарегистрироваться по номеру телефона
          +e.P.text Оплатить взнос
          +e.A.link(href='https://drive.google.com/file/d/1Mf_c-xnMBx6E6iGFAe4o3egnya9J2cOc/view?usp=sharing', target='_blank', rel='noopener') Изучить правила

  +b.SECTION.rules
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H2.title Правила участия

      +e.wrapper
        +e.inner
          +e.H4.title Общие правила
        +e.UL.list
          +e.P.text Вам нужно иметь с собой всё необходимое для выполнения конкурсной работы
          +e.P.text Допускается только классический метод моделирования формы бровей с использованием пинцета для бровей
          +e.P.text Окрашивание выполняется только краской Elan professional line
          +e.P.text Модель вам предоставит организатор

      +e.wrapper
        +e.inner
          +e.H4.title Требования к внешнему виду специалиста
        +e.UL.list
          +e.P.text Собранные волосы
          +e.P.text Чёрная футболка (предоставляет организатор)
          +e.P.text Чёрные брюки или юбка ниже колен офисного стиля
          +e.P.text Сменная обувь с закрытым носком чёрного цвета
          +e.P.text Отсутствие ярких аксессуаров
          +e.P.text Ознакомьтесь с #[+e.A.link(href='https://drive.google.com/file/d/1Mf_c-xnMBx6E6iGFAe4o3egnya9J2cOc/view?usp=sharing', target='_blank', rel='noopener') полными правила чемпионата]

  +b.SECTION.assessment
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H2.title Оценивание

      +e.wrapper--callout
        +e.P.text #[i В оценке чемпионата есть три критерия. Каждый критерий оценивается по 10-балльной системе]

      +e.wrapper
        +e.H4.title Общее впечатление
        +e.P.text ДО и ПОСЛЕ моделирования и окрашивания бровей, эстетический вид модели

      +e.wrapper
        +e.H4.title Форма
        +e.P.text симметричность и соответствие формы бровей лицу

      +e.wrapper
        +e.H4.title Цвет
        +e.P.text выбор цвета и гармоничный цвет бровей

  +b.SECTION.prize
    +e.wrapper--img
      +e.img-wrapper.lazyload

    +e.container.container
      +e.inner
        +b.HEADER.heading.__heading
          +e.H2.title Призовой фонд

        +e.wrapper
          +e.P.title
            b I место
          +e.P.text #[+e.B.feat.feat $1000] и подарки от спонсоров а также оплаченное участие #[+e.B.feat.feat в Bro Pro 2021]

        +e.wrapper
          +e.P.title
            b II место
          +e.P.text #[+e.B.feat.feat $500] и подарки от спонсоров

        +e.wrapper
          +e.P.title
            b III место
          +e.P.text #[+e.B.feat.feat $300] и подарки от спонсоров

  +b.SECTION.price
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H2.title Стоимость

      +e.wrapper
        +e.P.title #[+e.B.feat.feat 8&#8201;900 ₴]
        +e.P.text--description участие
          span билет на Molfar Forum
        +e.P.text включает жильё и питание

      +e.wrapper
        +e.P.title #[+e.B.feat.feat 1&#8201;400 ₴]

        +e.P.text--description участие
        +e.P.text о жилье и питании придётся заботиться самостоятельно

  +b.SECTION.registration
    +e.container.container
      +e.wrapper--img
        +e.img-wrapper.lazyload
      +b.HEADER.heading.__heading

        +e.wrapper
          +e.H2.title Регистрация
          +e.P.text регистрация открыта до 1 сентября

        +e.wrapper
          +e.P.text
            +e.A.link(href='tel:+380504207887') +380-50-420-78-87
          +e.P.text
            i Академия Карьеры Салонного Бизнеса
            br
            | #[i «Руки-Ножницы»]
