+b.HEADER.header
  +e.container.container
    +e.NAV.nav
      +e.A.link--logo(href='https://2020.molfarforum.com/') Главная
        +icon('molfar', '121.67', '30')

      +e.UL.list--links
        +e.LI.link-wrapper--mobile
          //- If currentUrl = / than no href
          +e.A.link(href= (currentUrl=='/') ? false : '/') Главная
        +e.LI.link-wrapper
          +e.A.link(href= (currentUrl=='https://2020.molfarforum.com/schedule') ? false : 'https://2020.molfarforum.com/schedule') Программа
        +e.LI.link-wrapper
          +e.A.link(href= (currentUrl=='https://2020.molfarforum.com/brow-pro') ? false : 'https://2020.molfarforum.com/brow-pro') Brow Pro
        +e.LI.link-wrapper
          +e.A.link(href= (currentUrl=='https://news.molfarforum.com/') ? false : 'https://news.molfarforum.com/') Новости
        +e.LI.link-wrapper
          +e.A.link(href= (currentUrl=='https://online.molfarforum.com/') ? false : 'https://online.molfarforum.com/') Online
